.index_container {
    width: 100%;
    height: 70vh;
    background: url('../../assets/img/hero.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    padding: 0 50px;
    width: 100%;
    height: 80px;
    background: #00000020;
    backdrop-filter: blur(2px);
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .nav-item {
    font-family: var(--montserrat);
    color: var(--btn-txt);
    text-decoration: none;
    transition: .2s;
    padding: 10px 20px;
}

.nav-item:hover {
    color: var(--gold-txt);
    transition: .2s;
}

.nav-btn {
    border: 1px solid  var(--primary-border);
    border-radius: 10px;
}

.nav-btn:hover {
    background: var(--btn);
    border: 1px solid var(--gold-border);
}

.some-figures {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 30px;
    row-gap: 50px;
}